* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.box {
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  width: 150px;
  border: 1px solid black;
  margin-bottom: 15px;
}

input:required {
  font-weight: bold;
}

form input {
  /* width: 100%;
  clear: both; */
}

.required label::after {
  content: "*";
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
